<div
  class='index-page-body container d-flex flex-column justify-content-center align-items-center'
>
  <div class='mt-3'>
    <select
      class='form-select form-select-lg'
      aria-label='Default select example'
    >
      <option selected>請選擇類別</option>
      <option value='1'>One</option>
      <option value='2'>Two</option>
      <option value='3'>Three</option>
    </select>
  </div>

  <div
    class='total-amount d-flex justify-content-around align-items-center mt-3 border rounded'
  >
    <span class='h2'>總支出</span>
    <span class='h3'>{{totalAmount}}</span>
    <span><i class='fas fa-sack-dollar h2'></i></span>
  </div>

  <div class='expense-items-box d-flex flex-column align-items-center h4 mt-3'>
    {{#each records}}
      <div
        class='expense-items-list d-flex justify-content-between align-items-center'
      >
        <div class='mx-2 d-flex align-items-center'>
          <span><i class='{{this.categoryId.icon}}'></i></span>
          <div class='d-flex flex-column align-items-center ms-2'>
            <span class='fs-2'>{{this.name}}</span>
            <span class='fs-6'>{{this.date}}</span>
          </div>
          <span class='ms-4 fs-2 me-1'>$</span>
          <span class='fs-2'> {{this.amount}}</span>
        </div>
        <div class='me-2'>
          <a href='#' class='btn btn-info me-2'>修改</a>
          <a href='#' class='btn btn-danger'>刪除</a>
        </div>
      </div>
    {{/each}}
  </div>
  <div>
    <a href='/record/new' class='btn btn-outline-warning btn-lg'><i
        class='fas fa-plus'
      ></i>新增紀錄</a>
  </div>
</div>